{% extends "base.html" %}

{% block content %}
<style>
	.form-control{
		width: 20%;
		display: inline;
	}
</style>
<br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
				<form action="" method="post">
					{{ form.hidden_tag() }}
					<p>
					{{ form.bulan.label }}
					{{ form.bulan(size=10, class="form-control") }}
					{{ form.submit(class="btn btn-default") }}
					</p>
				</form>	
				</div>
				<table class="table">
					<tr>
						<th>Info Statistik</th>
						<th>Nilai</th>
					</tr>
					<tr>
						<td>Penjualan barang di bulan</td>
						<td id="bulanInfo"></td>
					</tr>
					<tr>
						<td>Barang terjual</td>
						<td id="totalInfo"></td>
					</tr>
				</table>
				<table class="table">
					<tr>
						<th>Kode Barang</th>
						<th>Terjual</th>
						<th>Modal</th>
						<th>Keuntungan</th>
					</tr>
					{% for isi in data2 %}
						<tr>
							{% for d in isi %}
								<td>{{ d }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
	<!--
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Statistik penjualan barang di bulan <span align="right" id="bulanInfo"></span></li>
						<li class="list-group-item">Total barang terjual <span align="right" id="totalInfo"></span></li>
					<ul class="list-group"> --
						<li class="list-group-item">Cras justo odio</li>
					</ul>
				</div> --
				<canvas id="myChart" style="width: 100%; max-width:600px; max-height: 200px"></canvas> -->
				<canvas id="barChart"></canvas>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">Panel heading without title</div>
				<div class="panel-body">
				    Panel content
					<canvas id="horizontalBar"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">Perbandingan Penjualan perbulan</div>
				<div class="panel-body">
					<canvas id="lineChart"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<div class="col-md-8">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th colspan=6><h3 align="center">Histori Transaksi</h4></th>
			</tr>
			<tr>
				<th>Waktu Transaksi</th>
				<th>Kode Barang</th>
				<th>Nama Barang</th>
				<th>Harga Barang</th>
				<th>Tersedia</th>
				<th>Admin</th>
			</tr>
		</thead>
		<tbody>
			{% for i in data %}
			<tr>
				{% for k in i %}
					<td>{{ k }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			</tr>
		</tbody>
	</table>
	</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dataGrafig.json') }}"></script>
<script src="{{ url_for('static', filename='statChart.js') }}"></script>
{% endblock %}
