
	<div class="col-md-8">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th colspan=4><h3 align="center">Histori Transaksi</h4></th>
				</tr>
				<tr>
					<th>No</th>
					<th>Kode Barang</th>
					<th>Nama Barang</th>
					<th>Harga Barang</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>TSK6G</td>
					<td>Kartu Telkomsel 6 GB</td>
					<td>Rp 30.000</td>
				</tr>
				<tr>
					<td>2</td>
					<td>TSK9G</td>
					<td>Kartu Telkomsel 9 GB</td>
					<td>Rp 50.000</td>
				</tr>
				<tr>
					<td>3</td>
					<td>TSK6G</td>
					<td>Kartu Telkomsel 6 GB</td>
					<td>Rp 30.000</td>
				</tr>
				<tr>
					<td>4</td>
					<td>TSK9G</td>
					<td>Kartu Telkomsel 9 GB</td>
					<td>Rp 50.000</td>
				</tr>
				<tr>
					<td>5</td>
					<td>TSK6G</td>
					<td>Kartu Telkomsel 6 GB</td>
					<td>Rp 30.000</td>
				</tr>
				<tr>
					<td>6</td>
					<td>TSK9G</td>
					<td>Kartu Telkomsel 9 GB</td>
					<td>Rp 50.000</td>
				</tr>
				<tr>
					<td>7</td>
					<td>TSK6G</td>
					<td>Kartu Telkomsel 6 GB</td>
					<td>Rp 30.000</td>
				</tr>
				<tr>
					<td>8</td>
					<td>TSK9G</td>
					<td>Kartu Telkomsel 9 GB</td>
					<td>Rp 50.000</td>
				</tr>
			</tbody>
		</table>
	</div>

